<html>
<head>
<title>{$title}</title>
</head>
<body>
<form  method='post'>
<style type="text/css">
	[type='submit']{
		width: 10rem;
	}
</style>
<label><span>请输入用户名</span><input type='text' name='username'/></label></br>
<label><span>你的email</span><input type='text' name='email'/></label></br>
<label><span>请输入密码</span><input type='password' name='password'/></label></br>
<label><span>请确认你的密码</span><input type='password' name='password-confirm'/></label></br>
<input type='submit' value='注册'/>
</form>
<a href='signin'>会员前往登录</a>
</body>
</html>
